<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="index.css">
  <title>題</title>
</head>

<body>
  <div class="top-bar">
    <div class="top-bar__title">Mocchy</div>
    <div class="top-bar__burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <nav class="top-bar__nav">
      <div><a href="#">リンク1</a></div>
      <div><a href="#">リンク2</a></div>
      <div><a href="#">リンク3</a></div>
      <div><a href="#">リンク4</a></div>
    </nav>
  </div>
  <main>
    <section>やった！</section>
    <section>ヤッホー！</section>
  </main>
  <script src="index.js"></script>
</body>

</html>
