<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="base.css" />
    <title>題</title>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar__title">Mocchy</div>
      <div class="top-bar__burger">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <nav class="top-bar__nav">
        <div><a href="#">リンク1</a></div>
        <div><a href="#">リンク2</a></div>
        <div><a href="#">リンク3</a></div>
        <div><a href="#">リンク4</a></div>
      </nav>
    </div>
    <main>
      <!-- ご自分で何か入れてみて -->
      <section>やった！</section>
      <section>ヤッホー！</section>
    </main>
    <footer class="footer">
      <img
        src="https://via.placeholder.com/50.png?text=M"
        alt="Mocchy logo"
        class="footer__logo"
      />
      <div class="footer__title">Mocchy</div>
      <div class="footer__contact"><a href="#">お問い合わせ</a></div>
    </footer>
    <script src="top-bar.js"></script>
  </body>
</html>
