* {
  box-sizing: border-box;
}

.mgz-explanation {
  font-family: メイリオ;
  font-size: 25pt;
  font-color: black;
  font-weight: bold;
}

.mgz-explanation__text {
  margin: 10px 0;
}

.mgz-preview {
  font-family: メイリオ;
  font-size: 25pt;
  font-color: black;
  font-weight: bold;
  margin: 10px 0;
}

.mgz-preview__img {
  width: 300px;
  display: block;
  object-position: 50% 50%;
  margin-right: auto;
  margin-left: auto;
  margin: 10px 0;
  box-shadow: var(--box-shadow);
}

.general-info__title {
  font-family: メイリオ;
  font-size: 25pt;
  font-color: black;
  font-weight: bold;
}

.mgz-target {
  font-family: メイリオ;
  font-size: 25pt;
  font-color: black;
  font-weight: bold;
}

.mgz-org {
  font-family: メイリオ;
  font-size: 25pt;
  font-color: black;
  font-weight: bold;
}

.mgz-org__name {
  font-family: メイリオ;
  font-size: 20pt;
  font-color: black;
  font-weight: bold;
}

.mgz-explanation__text {
  font-family: 游ゴシック;
  font-size: 16pt;
  font-color: black;
  font-weight: bold;
}

.mgz-hashtag {
  font-family: 游ゴシック;
  font-size: 16pt;
  font-color: black;
  font-weight: bold;
  list-style-type: none;
}

.general-info__enter {
  color: #ED3D57;
  font-family: 游ゴシック;
  font-size: 16pt;
  font-color: black;
  font-weight: medium;
}