.general-info {
  display: grid;
  grid-template-rows: 40px 40px;
  grid-template-columns: 80px 1fr 100px;
  grid-template-areas:
    "g-icon g-slogan g-enter"
    "g-icon g-title  g-enter";
}
.general-info > * {
  margin: 0;
}
.general-info__icon {
  grid-area: g-icon;
  width: 70px;
  height: 70px;
  justify-self: center;
  align-self: center;
}
.general-info__slogan {
  grid-area: g-slogan;
  align-self: end;
}
.general-info__title {
  grid-area: g-title;
  align-self: start;
}
.general-info__enter {
  grid-area: g-enter;
  align-self: center;
  justify-self: end;
}
