* {
  box-sizing: border-box;
}

html {
  --red: #c33;
  --green: #3c3;
  --white: #eee;
  --top-bar-height: 3rem;
  color: #333;
  font-family: Verdana, sans-serif;
  line-height: 1.3;
}

/* should only be used on html */
.no-scroll {
  position: fixed;
  width: 100%;
}

a,
a:visited {
  color: inherit;
}

body {
  margin: 0;
}

main {
  padding: var(--top-bar-height) 0.5rem 0;
}

section {
  margin: 0.5rem 0;
}

.top-bar {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-template-rows: var(--top-bar-height) 1fr;
  grid-template-areas:
    ". title burger"
    "nav nav nav";
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--top-bar-height);
  overflow-y: hidden;
  transition: height 0.2s;
  z-index: 1;
  background-color: var(--red);
  color: var(--white);
  font-size: 1.5rem;
}

.top-bar--open {
  height: 100%;
}

.top-bar__title {
  grid-area: title;
  text-align: center;
  align-self: center;
}

.top-bar__burger {
  grid-area: burger;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

/* there should be only three things in the burger */
.top-bar__burger > * {
  width: 0.8em;
  height: 0.1111em;
  margin: 0.1111em 0;
  background-color: #eee;
}

.top-bar__nav {
  grid-area: nav;
  text-align: center;
}

.top-bar__nav > * {
  height: var(--top-bar-height);
}

/* probably every grandchild of .top-bar__nav will be an a */
.top-bar__nav a {
  vertical-align: middle;
}

.group {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 5rem 1fr 8rem;
  grid-template-areas:
    "icon name view"
    "icon desc desc"
    "icon loc loc";
}

@media screen and (max-width: 600px) {
  .group {
    grid-template-columns: 4rem 1fr;
    grid-template-areas:
      "icon name"
      "icon view"
      "desc desc"
      "loc loc";
  }
}

.group__icon {
  grid-area: icon;
  align-self: center;
  justify-self: center;
  max-width: 100%;
  border-radius: 1rem;
}

.group__name {
  grid-area: name;
  margin: 0;
  font-size: 1.5rem;
}

.group__desc {
  grid-area: desc;
}

.group__loc {
  grid-area: loc;
}

.group__view {
  grid-area: view;
  background-color: var(--green);
  color: var(--white);
  align-self: center;
  justify-self: right;
  max-width: 100%;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.x-scroll {
  display: grid;
  grid-gap: 0.5rem;
  grid-auto-flow: column;
  justify-content: start;
  overflow-x: auto;
  font-size: 0;
  -webkit-overflow-scrolling: touch;
}

.voice {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-gap: 0.5rem;
  grid-template-areas:
    "icon title"
    "quote quote";
  margin: 0.5rem 0;
}

.voice__icon {
  grid-area: icon;
  align-self: center;
  justify-self: center;
  max-width: 100%;
  border-radius: 50%;
}

.voice__title {
  grid-area: title;
  margin: 0;
  align-self: center;
}

.voice__quote {
  grid-area: quote;
}
