* {
  box-sizing: border-box;
}

html {
  color: #333;
  font-family: Verdana, sans-serif;
  line-height: 1.3;
}

body {
  margin: 0;
}

main {
  padding: 0 0.5rem;
}

section {
  margin: 0.5rem 0;
}

.bg-red { background-color: #c33; }
.bg-green { background-color: #3c3; }
.fg-white { color: #eee; }
.ta-c { text-align: center; }
.fz-1-5 { font-size: 1.5rem; }
.pv-0-2 { padding-top: 0.2rem; padding-bottom: 0.2rem; }
.pv-0-5 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.ph-0-5 { padding-left: 0.5rem; padding-right: 0.5rem; }
.m-0 { margin: 0; }
.mv-0-5 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.g-v-ctr { align-self: center; }
.g-h-ctr { justify-self: center; }
.g-h-right { justify-self: right; }
.mw-100 { max-width: 100%; }
.rounded { border-radius: 1rem; }
.circle { border-radius: 100%; }
.click { cursor: pointer; }
.x-scroll {
  display: grid;
  grid-gap: 0.5rem;
  grid-auto-flow: column;
  overflow-x: auto;
  font-size: 0;
  -webkit-overflow-scrolling: touch;
}

.top-bar {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-areas:
    ". title burger"
    "nav nav nav";
}

.top-bar__title { grid-area: title; }
.top-bar__burger { grid-area: burger; }
.top-bar__nav {
  grid-area: nav;
  display: none;
}

.top-bar__nav--open {
  display: initial;
}

.top-bar__burger-item {
  width: 0.8em;
  height: 0.1111em;
  margin: 0.1111em 0;
  background-color: #eee;
}

.group {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 5rem 1fr 8rem;
  grid-template-areas:
    "icon name view"
    "icon desc desc"
    "icon loc loc";
}

@media screen and (max-width: 600px) {
  .group {
    grid-template-columns: 4rem 1fr;
    grid-template-areas:
      "icon name"
      "icon view"
      "desc desc"
      "loc loc";
  }
}

.group__icon { grid-area: icon; }
.group__name { grid-area: name; }
.group__view { grid-area: view; }
.group__desc { grid-area: desc; }
.group__loc { grid-area: loc; }

.voice {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-gap: 0.5rem;
  grid-template-areas:
    "icon title"
    "quote quote";
}

.voice__icon { grid-area: icon; }
.voice__title { grid-area: title; }
.voice__quote { grid-area: quote; }
