/* 【重要】unit.cssはMocchyの全てのunitを定義したCSSです
　  目次
    I. スマホ
        i. 複数のページで使うunit
        ii. ホームページ
        iii...
    II. タブレット
        i. 複数のページで使うunit
        ii. ホームページ
        iii...
    III. パソコン
        i. 同上
*/

/* I. スマホ */
/* I. スマホ, i. 複数のページで使うunit */
.general-info__scroll {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  grid-gap: 0.3rem 1.5rem;
  overflow-x: auto;
  justify-content: start;
  margin: 5px;
}

.general-info {
  display: grid;
  grid-template-columns: 70px auto auto;
  grid-auto-rows: 40px 40px;
  grid-template-areas:
    "gi-icon gi-slogan gi-enter"
    "gi-icon gi-title gi-enter";
  padding: 5px 2px;
  margin: auto;
  width: 300px;
  height: 90px;
}
.general-info > *,
.general-info > a {
  display: inline-block;
  text-decoration: none;
  margin: 0;
	max-width: 150px;
  color: var(--black);
}
.general-info__icon {
  grid-area: gi-icon;
  width: 60px;
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
  margin: auto 0;
}
.general-info__slogan {
  grid-area: gi-slogan;
  font-size: 0.7rem;
  align-self: end;
  color: var(--blue);
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.general-info__title {
  grid-area: gi-title;
  padding: 0;
  font-size: 1.2rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.general-info__enter {
	grid-area: gi-enter;
  width: 5rem;
  height: 1.5rem;
  font-size: 0.7rem;
  background-color: var(--orange-red);
  border-radius: var(--border-radius-big);
  box-shadow: var(--box-shadow);
  align-self: center;
  justify-self: end;
  text-align: center;
  margin: auto 0;
  line-height: 2;
}
.general-info__enter a {
  color: var(--white);
	text-decoration: none;
}

.sub-title {
  display: grid;
  grid-auto-columns: auto 80px;
  grid-template-areas: "st-left st-right";
	margin: 30px 0 0 0;
}
.sub-title__left {
  grid-area: st-left;
  padding: 0 0 5px 0;
  margin: 0;
  border-bottom: var(--border-strong);
}
.sub-title__right {
  grid-area: st-right;
  width: 80px;
  margin: 0 10px 5px;
  font-size: 0.8rem;
  color: var(--orange-red);
  text-decoration: none;
}
.sub-title__dropdown {
  height: 30px;
  width: 10rem;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: transparent;
  -webkit-appearance: none;
  border: 0.02rem solid var(--gray);
}
select.sub-title__dropdown {
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--dark-gray) 50%
    ),
    linear-gradient(135deg, var(--dark-gray) 50%, transparent 50%);
  background-position: 7.5em, 7.75em;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  outline: 0;
}

.see-genre {
  display: block;
  background: var(--orange-red);
  width: 280px;
  height: 40px;
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
  margin: 0.5rem auto 3rem auto;
  padding: 0;
  color: var(--white);
  font-size: 1.4rem;
  line-height: 2;
  text-align: center;
	text-decoration: none;
}

.select-genre{
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-gap: 1px;
	position: relative;
	width: 300px;
	margin: 15px auto;
	padding: 0;
	background-color: pink;
}

.select-genre label {
	display: grid;
	grid-template-rows: 80px 30px;
	width: 100%;
  transition: background-color 0.2s;
}
.select-genre input[type="checkbox"]{
	display: none;
}
.select-genre__container{
  transition: background-color 0.2s;
}
.select-genre :checked + label {
	background-color: var(--orange-red);
	color: var(--white);
}
.select-genre__img{
	width: 70px;
	height: 70px;
	background: gray;
	justify-self: center;
	align-self: end;
	border: none;
}
.select-genre__container span{
	text-align: center;
	align-self: start;
}

.select-tag__section{
	display: none;
}
.select-tag :hover .select-tag__section{
	display: block;
}

/* I. スマホ, ii. ホームページ */
.open-visual {
  position: relative;
  height: 500px;
  margin: 0 0 30px 0;
  overflow: hidden;
}

.open-visual__image {
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.open-visual__image--shown {
  opacity: 1;
}

.open-visual__text {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    ". . ."
    ". ov-text ."
    ". . .";
  position: absolute;
  top: var(--header-height);
  left: 0;
  z-index: 5;
  margin: auto;
  width: 100vw;
  height: 500px;
  text-align: center;
  align-content: center;
  color: var(--white);
  font-size: 4vw;
  text-shadow: 2px 2px 10px var(--black);
}
.open-visual__text h2 {
  grid-area: ov-text;
}

.feature-info {
  display: block;
  position: relative;
  height: 400px;
  width: 300px;
  margin: 30px auto;
  border-radius: var(--border-radius-big);
  box-shadow: var(--box-shadow);
}
.feature-info__link {
  height: 365px;
  text-decoration: none;
}
.feature-info p {
  color: var(--blue);
}
.feature-info h2 {
  font-size: 2.2rem;
	color: var(--black);
}
.feature-info__link > p,
.feature-info__link > h2 {
  width: 300px;
	padding: 0px 15px;
  margin:  6px 0;
  text-decoration: none;
	overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.feature-info img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 300px;
  height: 280px;
  border-radius: var(--border-radius-big) var(--border-radius-big) 0 0;
}
.feature-info___tag {
  width: 270px;
	padding: 0;
	margin: 0 15px;
	overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.feature-info___tag > a {
  color: var(--gray);
	text-decoration: none;
}

.event-info__scroll {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  overflow-x: auto;
  margin: 0;
}
.event-info {
  display: block;
  width: 300px;
  height: 270px;
  padding: 0;
  margin: 20px auto;
}
.event-info__link {
  display: grid;
  grid-template-rows: 200px 20px 35px 15px;
  grid-template-areas:
    "e-img"
    "e-slogan"
    "e-title"
    "e-desc";
  padding: 0;
	text-decoration: none;
}
.event-info__link > p {
  padding: 0;
  margin: 10px;
}
.event-info__img {
  grid-area: e-img;
  object-fit: cover;
  object-position: 50% 50%;
  width: 300px;
  height: 200px;
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
}
.event-info__slogan {
  grid-area: e-slogan;
	align-self: start;
	color: var(--gray);
}
.event-info__title {
  grid-area: e-title;
  font-size: 1.8rem;
	font-weight: bolder;
	color: var(--black);
}
.event-info__desc {
  grid-area: e-desc;
  color: var(--gray);
}

.mgz-info {
  width: 300px;
  margin: 30px auto;
}
.mgz-info__slogan {
  width: 300px;
  margin: 10px 0;
}
.mgz-info__img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 300px;
	max-height: 550px;
  margin: 0;
  box-shadow: var(--box-shadow);
}

/* I. スマホ, iii. ジャンル */

/* I. スマホ, iv. リスト */
.preference {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	position: relative;
  margin: 30px 0 0 0;
  border-top: var(--border-normal);
  border-bottom: var(--border-normal);
	justify-items: center;
	color: var(--gray);
	font-size: 0.8rem;
}
.preference input{
	display: none;
}
.preference :checked + label{
	color: var(--orange-red);
}

.org-card {
  display: grid;
  grid-auto-rows: 90px 200px;
  position: relative;
	justify-items: center;
  padding: var(--card-padding);
  margin: var(--card-margin);
}
.org-card__img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 300px;
  height: 200px;
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
}

.event-card {
  width: 300px;
  height: 335px;
  padding: var(--card-padding);
  margin: 30px auto;
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
}
.event-card__link {
  display: grid;
  grid-template-rows: 30px 60px 30px 200px;
  grid-template-areas:
    "ec-slogan"
    "ec-title"
    "ec-desc"
    "ec-img";
  padding: 0;
}
.event-card__link > p,
h4 {
  padding: 0;
  margin: 0 0 0 1rem;
  align-self: center;
}
.event-card__img {
  grid-area: ec-img;
  object-fit: cover;
  object-position: 50% 50%;
  width: 300px;
  height: 200px;
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
}
.event-card__slogan {
  grid-area: ec-slogan;
  color: var(--blue);
}
.event-card__title {
  grid-area: ec-title;
  font-size: 1.5rem;
}
.event-card__desc {
  grid-area: ec-desc;
}

.mgz-card {
  display: grid;
  grid-template-rows: 90px 440px;
  justify-items: center;
  padding: var(--card-padding);
  margin: var(--card-margin);
}

/* I. スマホ, v. 詳細ページ */
/* I. スマホ, v. 詳細ページ, ①団体詳細*/

/* I. スマホ, v. 詳細ページ, ②イベント詳細*/

/* I. スマホ, v. 詳細ページ, ③雑誌詳細*/

/* II. タブレット */
/* II. タブレット, i. 複数のページで使うunit */
@media screen and (min-width: 768px) {
  /* II. タブレット, ii. ホームページ */
  .open-visual {
    width: 100%;
    height: 600px;
    margin: 0 0 50px 0;
  }

  .open-visual__text {
    font-size: 2rem;
    height: 600px;
  }

  .featured {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 50px 0;
  }

  .mgz {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 50px 0;
  }

  /* II. タブレット, iii. ジャンル */

  /* II. タブレット, iv. リスト */
  .org-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 30px 0;
  }
  .event-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 30px 0;
  }
  .mgz-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 30px 0;
  }

  /* II. タブレット, v. 詳細ページ */
}

/* III. パソコン */
/* III. パソコン, i. 複数のページで使うunit */

/* III. パソコン, ii. ホームページ */

/* III. パソコン, iii. ジャンル */

/* III. パソコン, iv. リスト */

/* III. パソコン, v. 詳細ページ */
