/* 【重要】unit.cssはMocchyの全てのunitを定義したCSSです
　  目次
    I. スマホ
        i. 複数のページで使うunit
        ii. ホームページ
        iii...
    II. タブレット
        i. 複数のページで使うunit
        ii. ホームページ
        iii...
    III. パソコン
        i. 同上
*/

/* I. スマホ */
/* I. スマホ, i. 複数のページで使うunit */
.general-info__scroll {
  position: relative;
  display: grid;
  grid-template-rows: 70px 70px 70px;
  grid-auto-flow: column;
  grid-gap: 0 0.5rem;
  overflow-x: auto;
  justify-content: start;
  margin: 5px auto 15px;
}

.general-info {
  display: grid;
  grid-template-columns: 70px 200px;
  grid-auto-rows: 35px 35px;
  grid-template-areas:
    "gi-icon gi-slogan"
    "gi-icon gi-title";
  padding: 0 2px;
  margin: 0;
  width: 250px;
  height: 70px;
}
.general-info > *,
.general-info > a {
  display: inline-block;
  text-decoration: none;
  margin: 0;
	max-width: 200px;
  color: var(--black);
}
.general-info__icon {
  grid-area: gi-icon;
  width: 60px;
	height: 60px;
	object-fit: cover;
  object-position: 50% 50%;
  border-radius: 20px;
  box-shadow: var(--dropshadow-general);
  margin: auto 0;
}
.general-info__slogan {
  grid-area: gi-slogan;
  font-size: 0.7rem;
  align-self: end;
  color: var(--gray);
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.general-info__title {
  grid-area: gi-title;
  padding: 0;
  font-size: 1.2rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sub-title {
  display: block;
	margin-top: 45px;
}
.sub-title__text {
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 25px;
}
 
.org-info {
  display: grid;
	grid-template-rows: 210px 40px 40px 10px;
	grid-template-columns: 90px 200px;
	grid-template-areas: 
	"o-img o-img"
	"o-icon o-slogan"
	"o-icon o-title"
	"o-space o-space";
  position: relative;
  height: 300px;
  width: 290px;
  margin: 15px auto 30px;
  padding: 0 1px;
  border-radius: var(--border-radius-big);
  box-shadow: var(--dropshadow-general);
}
.org-info__img {
  grid-area: o-img;
	object-fit: cover;
  object-position: 50% 50%;
  width: 290px;
  height: 210px;
  border-radius: var(--roundness-general) var(--roundness-general) 0 0;
}
.org-info__icon {
  grid-area: o-icon;
  object-fit: cover;
  object-position: 50% 50%;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  box-shadow: var(--dropshadow-general);
	justify-self: center;
	align-self: center;
}
.org-info p{
	grid-area: o-slogan;
	line-height: 1.7;
	font-size: 13px;
}
.org-info h2{
	grid-area: o-title;
	line-height: 0.8;
	align-self: end;
	font-size: 25px;
}
.org-info span{
	grid-area: o-space;
	background-color: var(--org-color);
  border-radius: 0 0 var(--roundness-general) var(--roundness-general);
}

.event-info{
	display: grid;
  grid-template-rows: 9px 27px 27px 27px 210px; 
	width: 290px;
  margin: 15px auto 30px;
  padding: 0 1px;
	border-radius: var(--roundness-general);
	box-shadow: var(--dropshadow-general);
}
.event-info span{
	background-color: var(--event-color);
	border-radius: var(--roundness-general) var(--roundness-general) 0 0;	
}
.event-info p, .event-info h2{
  width: 240px;
  margin-left: 15px;
  padding: 0;
	overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.event-info__slogan {
  align-self: start;
  max-width: 240px;
  font-size: 13px;
}
.event-info__title {
  align-self: center;
  max-width: 240px;
  font-size: 20px;
}
.event-info__desc {
  font-size: 13px;
  align-self: end;
}

.event-info__img{
	object-fit: cover;
  object-position: 50% 50%;
  width: 290px;
  height: 210px;
  border-radius: 0 0 var(--roundness-general) var(--roundness-general);	
}

.mgz-info {
	display: grid;
	grid-template-rows: 380px 40px 40px 10px;
	grid-template-columns: 90px 200px;
	grid-template-areas:
	"m-img m-img"
	"m-icon m-slogan"
	"m-icon m-title"
	"m-space m-space";
  width: 290px;
  margin: 15px auto 30px;
	border-radius: var(--roundness-general);
  box-shadow: var(--dropshadow-general);
}
.mgz-info__img {
	grid-area: m-img;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
	height:100%;
  margin: 0;
	padding: 0;
	border-radius: var(--roundness-general) var(--roundness-general) 0 0;
}
.mgz-info__icon{
	grid-area: m-icon;
	object-fit: cover;
  object-position: 50% 50%;
  width: 60px;
  height: 60px;
  border-radius: 20px;
	justify-self: center;
	align-self: center;
}
.mgz-info p, .mgz-info h2{
	margin-left: 0;
	padding: 0;
	align-self: center;
	overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mgz-info p {
	grid-area: m-slogan;
	color: var(--gray);
	align-self: start;
	line-height: 1.8
}
.mgz-info h2 {
	grid-area: m-title;
	align-self: end;
	line-height: 0.9;
}
.mgz-info span {
	grid-area: m-space;
	background-color: var(--mgz-color);
	border-radius:  0 0 var(--roundness-general) var(--roundness-general);
}

.see-genre {
  display: block;
  width: 280px;
  height: 40px;
  border-radius: var(--roundness-general);
  box-shadow: var(--dropshadow-general);
  margin: 0.5rem auto 3rem auto;
  padding: 0;
	background-color: var(--theme-color);
	color: var(--white);
  font-size: 1.4rem;
  line-height: 2;
  text-align: center;
	text-decoration: none;
}

/* I. スマホ, ii. ホームページ */
.open-visual {
  position: absolute;
  top: var( --header-height);
  left: 0;
  width: 100vw;
  height: 30vh;
  margin-bottom: 30px;
  overflow: hidden;
}
.open-visual__image {
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
	margin: 0;
	padding: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.open-visual__image--shown {
  opacity: 1;
}
.open-visual__text {
  display: grid;
  position: relative;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    ". . ."
    ". ov-text ."
    ". . .";
  position: absolute;
  top: var(--header-height);
  left: 0;
  z-index: 5;
  margin: 0 auto ;
  width: 100vw;
  height: 212px;
  text-align: center;
  align-content: center;
  color: var(--white);
  font-size: 4vw;
  text-shadow: 2px 2px 10px var(--black);
}
.open-visual__text h2 {
  grid-area: ov-text;
}
.empty-box{
  display: block;
  position: relative;
  width: 80vw;
  height: calc(var(--header-height) + 30vh);
}

.x-scroll{
	display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  max-height: 550px;
  margin: 0;
}


/* I. スマホ, iii. ジャンル */

/* I. スマホ, iv. サーチリストのみで使うunit */
.select-genre{
	display: grid;
	grid-template-columns: 95px 95px 95px;
	grid-gap: 9px;
	position: relative;
	width: 303px;
	margin: 10px auto 0;
	padding: 0;
}

.select-genre label {
	display: grid;
	grid-template-rows: 80px 30px;
	width: 100%;
  background-color: #FFD700;
  color: var(--black);
  transition: background-color 0.2s;
	border-radius: var(--roundness-general);
}
.select-genre input[type="checkbox"]{
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
}
.select-genre__container{
  transition: background-color 0.2s;
}
.select-genre__container :checked + label{
	background-color: var(--theme-color);
}

.select-genre__img{
	width: 70px;
	height: 70px;
	justify-self: center;
	align-self: end;
	border: none;
}
.select-genre__container span{
	text-align: center;
	align-self: start;
	font-weight: bold;
}

.select-tag__button {
	width: calc(100vw - var(--gutter) * 2);
	border: var(--border-strong);
	margin: 30px auto 0;
	border-radius: var(--border-radius-big);
	background-color: var(--white);
	font-size: 1rem;
	color: var(--dark-gray);
}
.select-tag__section{
	display: none;
}
.select-tag:hover .select-tag__section{
	display: block;
	position: relative;
  width: calc(100vw - var(--gutter) * 2);
	border: var(--border-normal);
	z-index: 1;
}
.select-tag__category {
	margin: 30px 0 7.5px 15px;
	font-weight: bolder;
}
.select-tag__option{
	display: grid;
	grid-template-columns: 20px auto;
	grid-gap: 7.5px 0;
	margin-left: 15px;
}

.preference {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	position: relative;
  margin: 30px auto 30px;
  border-top: var(--border-normal);
  border-bottom: var(--border-normal);
	justify-items: center;
	color: var(--gray);
	font-size: 0.8rem;
}
.preference input{
	display: none;
}
.preference :checked + label{
	color: var(--theme-color);
}

/* I. スマホ, v. 詳細ページ */
.detail__desc {
  grid-area: ed-desc;
  max-width: 320px;
  height: 60px;
  margin: 0 auto;
  padding: 0 5px; 
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: "遊ゴシック";
}
.see-more_box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  ". . ed-more";
  max-width: 320px;
  margin: 0 auto;
}
.see-more {
  grid-area: ed-more;
  justify-self: end;
  font-size: 13px;
  color: #ed3d57;
}

.detail__subtitle {
  display: block;
  position: relative;
  margin: 45px auto 15px;
  max-width: 320px;
  font-size: 25px;
  font-family: "メイリオ";
  font-weight: bold;
}

.detail__hashtag{
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
.detail__hashtag > * {
  padding: 0;
  font-family: 游ゴシック;
  font-size: 16px;
  color: black;
  list-style-type: none;
}

/* I. スマホ, v. 詳細ページ, ①団体詳細*/

/* I. スマホ, v. 詳細ページ, ②イベント詳細*/

/* I. スマホ, v. 詳細ページ, ③雑誌詳細*/

/* II. タブレット */
/* II. タブレット, i. 複数のページで使うunit */
@media screen and (min-width: 768px) {
  /* II. タブレット, ii. ホームページ */
  .open-visual {
    width: 100%;
    height: 600px;
    margin: 0 0 50px 0;
  }

  .open-visual__text {
    font-size: 2rem;
    height: 600px;
  }
  .empty-box{
    display: block;
    position: relative;
    width: 80vw;
    height: calc(var(--header-height) + 600px);
  }

  .x-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 50px 0;
	}

  /* II. タブレット, iii. ジャンル */

  /* II. タブレット, iv. リスト */
  .org-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 30px 0;
  }
  .event-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 30px 0;
  }
  .mgz-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 30px 0;
  }

  /* II. タブレット, v. 詳細ページ */


/* III. パソコン */
/* III. パソコン, i. 複数のページで使うunit */

/* III. パソコン, ii. ホームページ */

/* III. パソコン, iii. ジャンル */

/* III. パソコン, iv. リスト */

/* III. パソコン, v. 詳細ページ */
