main {
  padding: 0;
}
.event-detail {
  display: grid;
  grid-template-rows: auto 100px 200px 75px auto 65px auto 85px;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-areas:
  "top-img top-img top-img"
  ". title ."
  ". des ."
  ". des-title ."
  "des-scr des-scr des-scr"
  ". rec ."
  ". ha ."
  "apply apply apply"
  ". . ."
  ;
}
.event-detail__top-img {
  grid-area: top-img;
  width: 100%;
  margin-left: auto; 
  margin-right: auto;

}

.event-detail__title {
  grid-area: title;
  margin: 30px auto 30px;
  font-size: 25pt;
  font-weight: bold;
  font-family: "メイリオ";
  text-align: center;
}

.event-detail__description {
  grid-area: des;
   word-wrap: break-word;
   overflow-y: hidden;
   /*いい感じに表示できるようにしたい*/
}
p {
  margin: 0 auto;
  width: auto;
  font-size: 14pt;
  font-family: "遊ゴシック";
  font-weight: bold;
}

.event-detail__des-title {
  grid-area: des-title;
  margin: 30px auto 0 0 ;
  font-size: 18pt;/*25ptだとデカすぎる*/
  font-family: "メイリオ";
  font-weight: bold;
}

.event-detail__scrole {
  grid-area: des-scr; 
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  white-space: nowrap;
}

.event-detail__scr-item {
 display: inline-block;
 margin: 5%;
 width: 250px;
 height: 100%;
 vertical-align: top;
 white-space: normal; 
}

.event-detail__recommed {
  grid-area: rec;
  word-wrap: break-word;
  font-size: 18pt;/*25ptだとデカすぎる*/
  font-family:"メイリオ"; 
  font-weight: bold;
  margin: 14px auto 15px 0;
}

.event-detail__hashtag {
  grid-area: ha;
  font-family: ;
  font-size: ;
}

.event-detail__apply {
  grid-area: apply;
  width: 280px;
  height: 40px;
  box-shadow: var(--box-shadow);
  align-self: center;
  justify-self: center;
  color: #fff;
  background: #e0395c;
  border-radius: 5px;
  text-align: center;
  margin: auto 0 15px 0;
  font-family: "メイリオ";
  font-size: 15pt;
  font-weight: bold;
  line-height: 2;
}

.general-info {
  margin: 0 10px 15px 10px;
}