* {
  box-sizing: border-box;
}

html {
  --red: #ED3D57;
  --green: #3c3;
  --white: #eee;
  --top-bar-height: 3rem;
  --total-max-width: 50rem;
  color: #333;
  font-family: Verdana, sans-serif;
  line-height: 1.3;
}

a,
a:visited {
  color: inherit;
}

body {
  margin: 0 auto;
  max-width: var(--total-max-width);
}

body.no-scroll {
  overflow: hidden;
}

main {
  padding: var(--top-bar-height) 0.5rem 0;
  padding-left: 15px ;
  height:inherit ;
}

section {

}

.top-bar {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-template-rows: var(--top-bar-height) 1fr;
  grid-template-areas:
    ". title burger"
    "nav nav nav";
  position: fixed;
  top: 0;
  width: 100%;
  max-width: var(--total-max-width);
  height: var(--top-bar-height);
  overflow-y: hidden;
  transition: height 0.2s;
  z-index: 1;
  background-color: var(--red);
  color: var(--white);
  font-size: 1.5rem;
}

.top-bar--open {
  height: 100%;
}

.top-bar__title {
  grid-area: title;
  text-align: center;
  align-self: center;
}

.top-bar__burger {
  grid-area: burger;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

/* there should be only three things in the burger */
.top-bar__burger > * {
  width: 1em;
  height: 0.15em;
  margin: 0.15em 0;
  background-color: var(--white);
}

.top-bar__nav {
  grid-area: nav;
  text-align: center;
}

.top-bar__nav > * {
  height: var(--top-bar-height);
}

/* probably every grandchild of .top-bar__nav will be an a */
.top-bar__nav a {
  vertical-align: middle;
}

.top-bar__nav a {
  vertical-align: middle;
}

.footer {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-areas:
    "logo title"
    "logo contact";
  background-color: var(--red);
  color: var(--white);
  width: 100%;
  min-height: 5rem;
  padding: 0 var(--gutter);
}

.footer__logo {
  grid-area: logo;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.footer__title {
  grid-area: title;
  align-self: center;
}

.footer__contact {
  grid-area: contact;
}


/*以下、いじってる*/

.cu {
  font-weight: bold;
}

.cu__title {
  grid-area: title;
  margin:30px 0 0 auto;
  font-size: 25px;
  font-weight: bold;
  margin-left: auto;
}

.cu__name {
  grid-area: name;
  margin: 0 auto;
  padding-top: 30px ;
  margin-left: 0;
  font-size: 19px;
}


.cu_name2 {
  grid-area: name2;
  margin-top: 0 auto ;
  padding-top: 30px ;
  margin-left: 0;
  font-size: 19px;
}

.cu__mycode {
  grid-area: mycode;
  margin: 0 auto;
  padding-top: 14px ;
  font-size: 19px;
}
.cu__mycode2 {
  grid-area: mycode2;
  margin: 0 auto;
  padding-top: 5px ;
}

.cu__e-mail {
  grid-area: e-mail;
  margin: 0 auto;
  padding-top: 30px ;
  font-size: 19px;
}
.cu__e-mail2 {
  grid-area: e-mail2;
  margin: 0 auto;
  padding-top: 5px ;
}

.cu__qeustion {
  grid-area: qeustion;
  margin: 0 auto;
  padding-top: 30px ;
  font-size: 19px;
}

.cu__qeustion2 {
  grid-area: qeustion2;
  margin: 0 auto;
  height:130px ;
padding-top: 5px;
}

input#submit_button {
  background-color: var(--red);
   color: var(--white);
   align-self: center;
   justify-self: center;
   width: 100px ;
   max-width: 100px;
   border-top: 30px ;
   padding:0 center ;
   border-radius: 23px;
   filter: drop-shadow(3px 3px 6px #6E6E6E);
   font-size: 15px;
   float: center ;
}

.submit_button1{
  margin: 30px 0  30px 80px ;
  padding-left: 15px ;
}


.input,
textarea {
  float: center ;
  font: 1.2em sans-serif;
  width: 300px;
  height: 0 auto;
  border: 2px solid #ccc;
  border-radius: 5px;
}


.footer {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-areas: "logo title"
 "logo contact";
    background-color: var(--red);
    color: var(--white);
    width: 100%;
    min-height: 5rem;
    padding: 0 var(--gutter);
}

.footer__title{
  float:left;
  font-size: 20px;
  padding-top: 10px;
}

.footer__logo{
  border-radius:30px;
}

.footer__contact{
  text-align: left;
}

/*あとはデザインチームと話し合う必要有*/
